.App {
  text-align: center;
  width: 70%;
  height: 100%;
  margin: 0 auto;
  color:antiquewhite;
}

html {
  background: linear-gradient( rgba(0, 0, 0, 0.7), 
  transparent),
  url("./images/background-image.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150vh;
}

h1, h2, h3 {
  font-size: 4rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

.header-section {
  height: 25vh;
}

.block-section {
  height: 25vh;
  background-color: black;
  border: 2px solid antiquewhite;
  border-radius: 4px solid;
  opacity: .85;
  margin-bottom: 15px;
}

.top-level-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: grey;
  border: 2px solid grey;
  border-bottom: 1px solid black;
  border-radius: 2px;
  min-height: 2vh;
}

.tool-section {
  height: 25vh;
  background-color: black;
  opacity: .85;
  border: 2px solid antiquewhite;
  margin-bottom: 15px;
}

.tool-bar {
  width: 90%;
  margin: 0 auto;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: space-between;
}

img {
  height: 130px;
  width: 150px;
}

.project-section {
  height: 50vh;
  background-color: black;
  opacity: .85;
  border: 2px solid antiquewhite;
}